# Enable mod_rewrite

RewriteEngine On

# Handle history API fallback for React Router

RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.\*)$ /index.html [L]
